:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.mr-12 {
  margin-right: 12px;
}

.w-44 {
  width: 44px;
}

.custom-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Khoảng cách giữa mỗi mục trong danh sách */
}

.custom-list-item button {
  width: 50px;
  /* Chiều rộng của nút */
  margin-right: 6px;
  /* Khoảng cách giữa nút và chữ */
}

.custom-list-item span {
  margin-left: 6px;
  /* Khoảng cách giữa nút và chữ */
}

.custom-list-item a {
  color: #1890ff;
}




.inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  /* Cần thiết để tạo hệ thống tọa độ tương đối */
}




.example-boundary {
  height: 400px;
  max-width: 100%;
  border: dotted #ccc 2px;
}


.content-btn {
  padding-left: 25px;
}

.content-btn textarea {
  padding: 0;
}

.link-btn {
  background: white;
  border: none;
  color: #1890ff!important;
}

.cycle-color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 3px;
  margin-bottom: 5px;
}

.cycle-color:hover {
  border: 3px solid #40a9ff;
  cursor: pointer;
}

.cycle-color:focus {
  border: 3px solid #40a9ff;
  outline: none;
}

.overflow-scroll {
  /* overflow: initial; */
  overflow: scroll;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.gap-8 {
  gap: 1.25rem;
}

.effect {
  width: 90px;
  margin-bottom: 10px;
  background-color: #e5e5e5;
  color: black;
  border: none;
  outline: none;
  padding: 5px 15px;
  cursor: pointer;
}

.effect::placeholder {
  color: black;
}

.effect:focus {
  outline: 3px solid #40a9ff;
}

.zom-effect {
  position: relative;
}

.zom-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Đặt z-index thấp hơn để pseudo-element nằm dưới */
  background-color: inherit;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.3s ease-out; /* Thêm transition để tạo hiệu ứng mượt mà */
}



.zom-effect:hover::before {
  /* scale: 1.4; */
  transform: scale(1.2);
}



.opacity-effect:hover {
  opacity: 0.3;
}

.example-btn {
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  transition: all 0s;
  padding: 7px 14px;
}

.example-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Đặt z-index thấp hơn để pseudo-element nằm dưới */
  background-color: inherit;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.3s ease-out; /* Thêm transition để tạo hiệu ứng mượt mà */
}

.changeColor-effect:hover {
  background: green!important;
}

.shadow-effect:hover {
  /* box-shadow: 0 0 20px rgba(64, 169, 255, 0.8);  */
  box-shadow: 0 0 20px #40a9ff;
}

.slider-effect {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  z-index: 2;
}

.slider-content {
  position: relative;
  z-index: 3;
}

.slider-effect::before,
.slider-effect::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 50%;
  z-index: 2;
  background: green;
  transition: width .5s;
  opacity: 1;
}

.slider-effect::before {
  top: 0;
  left: 0;
}

.slider-effect::after {
  bottom: 0;
  right: 0;
}

.slider-effect:hover::before,
.slider-effect:hover::after {
  width: 100%;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
} 
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.chooseColor-label {
  padding: 15px 10px;
  width: 40%;
}

.chooseColor-input {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chooseColor-input input {
  width: 100%;
}